.tentang-kami,
.tentang-kami * {
  box-sizing: border-box;
}
.tentang-kami {
  background: #ffffff;
  height: 2033px;
  position: relative;
}
.rectangle-48 {
  background: #023246;
  width: 1440px;
  height: 284px;
  position: absolute;
  left: 0px;
  top: 86px;
}
.website-info-kost-jambi-kami-memberikan-informasi-lengkap-terkait-kost-kost-yang-ada-di-jambi {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 286px);
  top: 236px;
  width: 913px;
}
.navbar {
  width: 1440px;
  height: 86px;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* Sidebar styling */
.sidebar {
  position: fixed;
  left: -250px; /* Hide the sidebar initially */
  width: 250px;
  height: 100%;
  background: #f6f6f6;
  z-index: 1000;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0; /* Show the sidebar */
}

/* Sidebar content styling */
.sidebar img.user {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 45%;
  top: 10%;
}

.sidebar h3 {
  font-size: 20px;
  position: absolute;
  right: 38%;
  top: 18%;
}

.sidebar img.logout {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 45%;
  top: 80%;
}
.rectangle-5 {
  background: #f6f6f6;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.infokostjambi {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 69.93%;
  left: 18.54%;
  width: 11.53%;
  bottom: 24.42%;
  top: 45%;
  height: 34.88%;
}

.logo-nav {
  width: 38px;
  height: 43px;
  position: absolute;
  left: 210px;
  top: 29px;
  overflow: visible;
}

.rectangle-6 {
  background: #f6f6f6;
  border-radius: 10px;
  width: 33.33%;
  height: 62.79%;
  position: absolute;
  right: 9.03%;
  left: 57.64%;
  bottom: 10.47%;
  top: 26.74%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.75);
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  padding-left: 25px;
}
.cari-kost {
  color: rgba(0, 0, 0, 0.75);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 30.9%;
  left: 63.68%;
  width: 5.42%;
  bottom: 27.91%;
  top: 44.19%;
  height: 27.91%;
}
.rectangle-7 {
  background: #023246;
  border-radius: 10px;
  width: 6.32%;
  height: 62.79%;
  position: absolute;
  right: 9.03%;
  left: 84.65%;
  bottom: 10.47%;
  top: 26.74%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
}
.basil-search-outline {
  width: 2.22%;
  height: 34.88%;
  position: absolute;
  right: 38.47%;
  left: 59.31%;
  bottom: 24.42%;
  top: 40.7%;
  overflow: visible;
}
.cari {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  right: 11.11%;
  left: 86.25%;
  width: 2.64%;
  bottom: 27.91%;
  top: 44.19%;
  height: 27.91%;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 61.94%;
  left: 35.14%;
  width: 2.92%;
  bottom: 30.23%;
  top: 45.35%;
  height: 24.42%;
}
.daftar-kost {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 53.82%;
  left: 40.76%;
  width: 5.42%;
  bottom: 30.23%;
  top: 45.35%;
  height: 24.42%;
}
.tentang-kami2 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 44.1%;
  left: 48.82%;
  width: 7.08%;
  bottom: 30.23%;
  top: 45.35%;
  height: 24.42%;
}
.logo {
  width: 120px;
  height: 120px;
  position: absolute;
  right: 83.12%;
  left: 13.75%;
  bottom: 16.86%;
  top: 150px;
  overflow: visible;
}
.material-symbols-menu {
  width: 38px;
  height: 43px;
  position: absolute;
  left: 125px;
  top: 29px;
  overflow: visible;
}
.logo2 {
  width: 7.92%;
  height: 5.26%;
  position: absolute;
  right: 75.69%;
  left: 16.39%;
  bottom: 86.52%;
  top: 8.21%;
  overflow: visible;
}
.footer {
  width: 1440px;
  height: 172px;
  position: absolute;
  left: calc(50% - 719px);
  top: 1861px;
}
.rectangle-8 {
  background: #023246;
  width: 100%;
  height: 55.81%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 44.19%;
}
.infokostjambi2 {
  color: #f6f6f6;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 42.01%;
  left: 46.46%;
  width: 11.53%;
  bottom: 18.9%;
  top: 63.66%;
  height: 17.44%;
}
.logo3 {
  width: 3.12%;
  height: 26.16%;
  position: absolute;
  right: 54.93%;
  left: 41.94%;
  bottom: 15.12%;
  top: 58.72%;
  overflow: visible;
}
.tentang-kami3 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 55px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 290px);
  top: 153px;
}
.visi-kami {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 624px);
  top: 999px;
}
.info-kost-jambi {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 624px);
  top: 447px;
}
.butuh-konsultasi-silahkan-kontak-kami-kami-siap-membantu {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 45px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 624px);
  top: 1382px;
}
.misi-kami {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -62px);
  top: 999px;
}
.menjadi-sumber-informasi-terpercaya-dan-terdepan-dalam-menyediakan-data-kost-yang-lengkap-dan-akurat-di-wilayah-jambi {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 96px;
  top: 1082px;
  width: 618px;
}
.info-kost-jambi-adalah-situs-web-yang-menyajikan-informasi-lengkap-tentang-berbagai-pilihan-tempat-kost-di-jambi-dengan-fitur-pencarian-yang-canggih-pengguna-dapat-memfilter-pilihan-kost-berdasarkan-lokasi-harga-fasilitas-dan-jenis-kost-sesuai-preferensi-pribadi-mereka-setiap-listing-kost-dilengkapi-dengan-foto-foto-jelas-deskripsi-detail-dan-kontak-pemilik-kost-memudahkan-pengguna-untuk-membuat-keputusan-yang-tepat-foto-foto-memberikan-gambaran-nyata-tentang-kondisi-kost-sementara-deskripsi-menyajikan-informasi-penting-seperti-ukuran-kamar-kebijakan-pembayaran-peraturan-kost-dan-fasilitas-tambahan-dengan-adanya-kontak-pemilik-kost-pengguna-dapat-dengan-mudah-menghubungi-mereka-untuk-pertanyaan-lebih-lanjut-atau-kunjungan-langsung {
  color: #000000;
  text-align: justified;
  font-family: "-", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 96px;
  top: 561px;
  width: 1214px;
}
.info-kost-jambi-adalah-situs-web-yang-menyajikan-informasi-lengkap-tentang-berbagai-pilihan-tempat-kost-di-jambi-dengan-fitur-pencarian-yang-canggih-pengguna-dapat-memfilter-pilihan-kost-berdasarkan-lokasi-harga-fasilitas-dan-jenis-kost-sesuai-preferensi-pribadi-mereka-setiap-listing-kost-dilengkapi-dengan-foto-foto-jelas-deskripsi-detail-dan-kontak-pemilik-kost-memudahkan-pengguna-untuk-membuat-keputusan-yang-tepat-foto-foto-memberikan-gambaran-nyata-tentang-kondisi-kost-sementara-deskripsi-menyajikan-informasi-penting-seperti-ukuran-kamar-kebijakan-pembayaran-peraturan-kost-dan-fasilitas-tambahan-dengan-adanya-kontak-pemilik-kost-pengguna-dapat-dengan-mudah-menghubungi-mereka-untuk-pertanyaan-lebih-lanjut-atau-kunjungan-langsung-span {
  color: #000000;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.info-kost-jambi-adalah-situs-web-yang-menyajikan-informasi-lengkap-tentang-berbagai-pilihan-tempat-kost-di-jambi-dengan-fitur-pencarian-yang-canggih-pengguna-dapat-memfilter-pilihan-kost-berdasarkan-lokasi-harga-fasilitas-dan-jenis-kost-sesuai-preferensi-pribadi-mereka-setiap-listing-kost-dilengkapi-dengan-foto-foto-jelas-deskripsi-detail-dan-kontak-pemilik-kost-memudahkan-pengguna-untuk-membuat-keputusan-yang-tepat-foto-foto-memberikan-gambaran-nyata-tentang-kondisi-kost-sementara-deskripsi-menyajikan-informasi-penting-seperti-ukuran-kamar-kebijakan-pembayaran-peraturan-kost-dan-fasilitas-tambahan-dengan-adanya-kontak-pemilik-kost-pengguna-dapat-dengan-mudah-menghubungi-mereka-untuk-pertanyaan-lebih-lanjut-atau-kunjungan-langsung-span2 {
  color: #000000;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.menyediakan-informasi-kost-yang-akurat-dan-terbaru-memberikan-pengalaman-pencarian-yang-mudah-dan-efisien-mendukung-pemilik-kost-dalam-memasarkan-properti-mereka {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 749px;
  top: 1082px;
  width: 567px;
}
.kontak {
  color: #000000;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 96px;
  top: 1608px;
}
.perumahan-mendalo-asri-kecamatan-jambi-luar-kota-kota-kabupaten-muaro-jambi {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 134px;
  top: 1650px;
}
._0812-7357-4983 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 134px;
  top: 1707px;
}
.infokostjambi-gmail-com {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: 134px;
  top: 1742px;
}
.vector {
  width: 1.44%;
  height: 1.07%;
  position: absolute;
  right: 91.76%;
  left: 6.81%;
  bottom: 17.13%;
  top: 81.8%;
  overflow: visible;
}
.group {
  width: 1.67%;
  height: 0.95%;
  position: absolute;
  right: 91.67%;
  left: 6.67%;
  bottom: 15.04%;
  top: 84.01%;
  overflow: visible;
}
.vector2 {
  width: 1.67%;
  height: 0.76%;
  position: absolute;
  right: 91.6%;
  left: 6.74%;
  bottom: 13.35%;
  top: 85.88%;
  overflow: visible;
}
.rectangle-57 {
  background: #fefefe;
  border-radius: 5px;
  width: 580px;
  height: 445px;
  position: absolute;
  left: 639px;
  top: 1432px;
}
.group-14 {
  width: 534px;
  height: 384px;
  position: static;
}
.group-13 {
  width: 534px;
  height: 384px;
  position: static;
}
.rectangle-58 {
  background: #d9d9d9;
  width: 534px;
  height: 84.21px;
  position: absolute;
  left: 766px;
  top: 1495.95px;
  color: #717171;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  padding-left: 25px;
}
.masukan-email-anda-disini {
  color: #717171;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 804.54px;
  top: 1528.51px;
  width: 247.73px;
  height: 20.21px;
}
.rectangle-59 {
  background: #d9d9d9;
  width: 534px;
  height: 84.21px;
  position: absolute;
  left: 766px;
  top: 1600.37px;
  color: #717171;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  padding-left: 25px;
}
.rectangle-60 {
  background: #023246;
  width: 534px;
  height: 84.21px;
  position: absolute;
  left: 766px;
  top: 1704.79px;
  color: #ffffff;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
}
.pertanyaan-anda {
  color: #717171;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  left: 804.54px;
  top: 1632.93px;
  width: 161.85px;
  height: 20.21px;
}
.kirim {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  left: 997.22px;
  top: 1727.25px;
  width: 71.57px;
  height: 40.42px;
}
.ada-pertanyaan {
  color: #023246;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: 845.27px;
  top: 1405px;
  width: 413.99px;
  height: 67.37px;
}
a {
  text-decoration: 25px;
}